{% extends "base.html.twig" %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="header_homepage d-flex flex-wrap">
        <div class="header_button-top d-flex align-items-center w-100 flex-wrap justify-content-end">
            <div class="header_button-top-right w-25 d-flex justify-content-around">
                {% if app.user %}
                {% for user in users %}
                    <div class="user_infos d-flex justify-content-end">

                        {% if app.user.picture %}
                            <img class="user_picture" src="{{ asset('uploads/' ~ user.picture ) }}"
                                 alt="photo de {{ user.lastname }} {{ user.firstname }}">
                        {% else %}
                            <img class="user_picture user_picture-anonym" src="uploads/anonym_user.png" alt="">
                        {% endif %}
                        <div class="user_name">
                            <p>{{ user.firstname }} {{ user.lastname }}</p>
                        </div>
                    </div>
                {% endfor %}
                <a class="header_button_user-profil btn btn-primary" href="{{ path('user_show') }}">Mon profil</a>
                <a class="header_button_user-profil btn btn-danger" href="{{ path('app_logout') }}">Déco</a>

                {% else %}
                <a href="{{ path('app_login') }}" class="header_button_login btn btn-primary">
                    SE CONNECTER
                </a>
                <a href="{{ path('user_registration') }}" class="header_button_signin btn btn-secondary">S'INSCRIRE</a>
            </div>
            {% endif %}
        </div>
        <div class="header_title_container d-flex w-75 m-auto flex-wrap">
            <h1 class="header_title_name text-center w-100 ">PLACE 2 PARK</h1>
            <div class="header_button_container d-flex w-50 m-auto justify-content-center align-content-between">
                <a href="#" class="homepage_button_search btn btn-success">
                    CHERCHER UNE PLACE
                </a>
                <a href="#" class="homepage_button_deposit btn btn-secondary">DEPOSER UNE ANNONCE</a>
            </div>
        </div>
    </div>


{% endblock %}