<div class="card d-flex " style="width: 18rem;">
    <img src="{{ asset('uploads/' ~ parking.picture) }}" class="card-img-top" style="height: 50%"
         alt="{{ parking.title }}">
    <div class="card-body">
        <h3 class="card-title">{{ parking.title }}</h3>
        <div class="card-text">
            <div class="parking_price">{{ parking.price }} €/jour</div>
            <div class="parking_type">{{ parking.type.label }}</div>
            <div class="parking_city">{{ parking.city }} city</div>
            <div class="parking_district">{{ parking.district }} quartier</div>
        </div>

            <a href="{{ path('show_park', { 'id' : parking.id }) }}" class="btn btn-primary">VOIR PLUS</a>

    </div>
</div>
