{% extends "base.html.twig" %}

{% block body %}
    <div class="header_user d-flex">

        <h1>Profil utilisateur</h1>

        <div class="back_homepage"><a href="{{ path('homepage') }}" class="btn btn-primary">Retour homepage</a></div>

    </div>
    <div class="content_user">
        {% for user in users %}
            {% if app.user.picture %}
                <img class="user_picture" src="{{ asset('uploads/' ~ user.picture ) }}"
                     alt="photo de {{ user.lastname }} {{ user.firstname }}">
            {% else %}
                <img class="user_picture user_picture-anonym" src="#"
                     alt="photographie par défault">
            {% endif %}

            <div class="user_information-rightside">
                <div class="user_name">{{ user.firstname }} {{ user.lastname }}</div>
                {% if app.user.adress %}
                    <div class="user_adress">{{ user.adress }}</div>
                {% else %}
                    <label>
                        <input type="text" class="user_input_adress" placeholder="Adresse" readonly >
                    </label>
                {% endif %}
                <div class="user_email">{{ user.email }}</div>
            </div>



        {% endfor %}
    </div>


{% endblock %}
