{% extends 'base.html.twig' %}

{% block title %}Place2Park | Mes Parkings{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}" class="btn btn-primary">Back homepage</a>
    <a href="{{ path('user_show') }}" class="btn btn-primary">back profile</a>

    {{ user.lastname }} {{ user.firstname }}

    {% for parking in parkings  %}
        {{ parking.id }}
    {% endfor %}


{% endblock %}

