{% extends 'base.html.twig' %}

{% block title %}Place2Park | Mes Parkings{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}" class="btn btn-primary">Back homepage</a>
    <a href="{{ path('user_index') }}" class="btn btn-primary">back profil</a>

    {{ user.lastname }} {{ user.firstname }}
    <br>
    {% for parking in parkings  %}
        {{ parking.id }}
{{ include('parking/card_park_user.html.twig') }}
       {% endfor %}


{% endblock %}

